<p>
  post-detail works!
</p>
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Messages</th>
          <th>Comments</th>
          <th>Likes</th>
          <th>Add Like</th>
          <th>Add Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messageData">
          <td>{{message.id}}</td>
          <td>{{message.messagePost}}</td>
          <td>{{message.comment}}</td>
          <td>{{Like}}</td>
          <td>
            <button type="submit" class="btn btn-primary glyphicon glyphicon-thumbs-up" (click)='AddLike()'></button>
          </td>
          <td>
            <a [routerLink]='["/addcomment"]' class="btn btn-primary glyphicon glyphicon-comment"></a>
          </td>
        </tr>
      </tbody>
    </table>
  <a [routerLink]='["/addmessage"]' class="btn btn-primary">
      Add Message
    </a>

</div>
